<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <div></div>
      <mat-panel-title>
       <div style="display: inline-block"><img class="company-brand" src="../../assets/img/test-photo.jpg" width="40px;"></div>
        <div style="display: inline-block">Junior Graphics Design</div>
      </mat-panel-title>
      <mat-panel-description>
        <div class="details-container">
          <div class="location">Location: Durban, South Africa</div>
          <div class="type">Full-Time</div>
        </div>

      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
          <div style="display: inline-block"><img class="company-brand" src="../../assets/img/ucloader.gif" width="40px;"></div>
          <div style="display: inline-block">Sound Technician</div>

      </mat-panel-title>
      <mat-panel-description>
          <div class="details-container">
              <div class="location">Location: Cape Town, South Africa</div>
              <div class="type">Part Time</div>
            </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <div></div>
        <mat-panel-title>
         <div style="display: inline-block"><img class="company-brand" src="../../assets/img/test-photo.jpg" width="40px;"></div>
          <div style="display: inline-block">Junior Graphics Design</div>
        </mat-panel-title>
        <mat-panel-description>
          <div class="details-container">
            <div class="location">Location: Durban, South Africa</div>
            <div class="type">Full-Time</div>
          </div>

        </mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
            <div style="display: inline-block"><img class="company-brand" src="../../assets/img/ucloader.gif" width="40px;"></div>
            <div style="display: inline-block">Sound Technician</div>

        </mat-panel-title>
        <mat-panel-description>
            <div class="details-container">
                <div class="location">Location: Cape Town, South Africa</div>
                <div class="type">Part Time</div>
              </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <div></div>
          <mat-panel-title>
           <div style="display: inline-block"><img class="company-brand" src="../../assets/img/test-photo.jpg" width="40px;"></div>
            <div style="display: inline-block">Junior Graphics Design</div>
          </mat-panel-title>
          <mat-panel-description>
            <div class="details-container">
              <div class="location">Location: Durban, South Africa</div>
              <div class="type">Full-Time</div>
            </div>

          </mat-panel-description>
        </mat-expansion-panel-header>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
              <div style="display: inline-block"><img class="company-brand" src="../../assets/img/ucloader.gif" width="40px;"></div>
              <div style="display: inline-block">Sound Technician</div>

          </mat-panel-title>
          <mat-panel-description>
              <div class="details-container">
                  <div class="location">Location: Cape Town, South Africa</div>
                  <div class="type">Part Time</div>
                </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
          <mat-expansion-panel-header>
            <div></div>
            <mat-panel-title>
             <div style="display: inline-block"><img class="company-brand" src="../../assets/img/test-photo.jpg" width="40px;"></div>
              <div style="display: inline-block">Junior Graphics Design</div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="details-container">
                <div class="location">Location: Durban, South Africa</div>
                <div class="type">Full-Time</div>
              </div>

            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
                <div style="display: inline-block"><img class="company-brand" src="../../assets/img/ucloader.gif" width="40px;"></div>
                <div style="display: inline-block">Sound Technician</div>

            </mat-panel-title>
            <mat-panel-description>
                <div class="details-container">
                    <div class="location">Location: Cape Town, South Africa</div>
                    <div class="type">Part Time</div>
                  </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>I'm visible because I am open</p>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <div></div>
              <mat-panel-title>
               <div style="display: inline-block"><img class="company-brand" src="../../assets/img/test-photo.jpg" width="40px;"></div>
                <div style="display: inline-block">Junior Graphics Design</div>
              </mat-panel-title>
              <mat-panel-description>
                <div class="details-container">
                  <div class="location">Location: Durban, South Africa</div>
                  <div class="type">Full-Time</div>
                </div>

              </mat-panel-description>
            </mat-expansion-panel-header>
          </mat-expansion-panel>

          <mat-expansion-panel (opened)="panelOpenState = true"
                               (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                  <div style="display: inline-block"><img class="company-brand" src="../../assets/img/ucloader.gif" width="40px;"></div>
                  <div style="display: inline-block">Sound Technician</div>

              </mat-panel-title>
              <mat-panel-description>
                  <div class="details-container">
                      <div class="location">Location: Cape Town, South Africa</div>
                      <div class="type">Part Time</div>
                    </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>I'm visible because I am open</p>
          </mat-expansion-panel>
</mat-accordion>



 <!-- <mat-card>

  <mat-card-header>
    <div mat-card-avatar></div>

    <div mat-card-position>
        <mat-card-title><mat-icon>supervised_user_circle</mat-icon>Junior Graphics Designer</mat-card-title>
        <mat-card-subtitle><mat-icon>work</mat-icon>Betting Entertainment Technologies</mat-card-subtitle>
        <mat-card-subtitle><mat-icon>room</mat-icon>Durban, KwaZulu Natal</mat-card-subtitle>
    </div>
  </mat-card-header>
  <mat-card-actions style="width: 100%;">
    <div style="width: 100%; float: right">
        <button mat-icon-button> View Job </button>
    </div>

  </mat-card-actions>

</mat-card>


<mat-card>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>Junior Graphics Designer</mat-card-title>
      <mat-card-subtitle>Durban, KwaZulu Natal</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Just some dummy content
    </mat-card-content>
    <mat-card-actions style="float:right; vertical-align: middle;">
      <button mat-button color="primary">
        <mat-icon>favorite</mat-icon>
      </button>
      <div class="flex-spacer"></div>
    </mat-card-actions>
  </mat-card>

  <mat-card>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>Junior Graphics Designer</mat-card-title>
        <mat-card-subtitle>Durban, KwaZulu Natal</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        Just some dummy content
      </mat-card-content>
      <mat-card-actions style="float:right; vertical-align: middle;">
        <button mat-button color="primary">
          <mat-icon>favorite</mat-icon>
        </button>
        <div class="flex-spacer"></div>
      </mat-card-actions>
    </mat-card> -->
