<mat-divider></mat-divider>
<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Overview">
    <h3 style="text-align: left;">Overview</h3>
    <p style="text-align: left;">
      The Backstory is offering a full-time position to a junior graphic designer or layout artist with an interest in
      the film industry. Our company works closely with film production companies and agencies around world. This is an
      opportunity to learn about the art of researching and pitching for television commercials.
      You should have broad knowledge of film, television, advertising, internet culture, and photography with an
      ability to layout a concise presentations under tight deadlines. The position is available from the beginning of
      March with a market-related salary of R7500 per month.
    </p>
  </mat-tab>
  <mat-tab label="Responsibilities">
    <h3 style="text-align: left;">Responsibilities</h3>
    <mat-list role="list">
      <mat-list-item role="listitem">Layout design of presentations</mat-list-item>
      <mat-list-item role="listitem">Source visual references</mat-list-item>
      <mat-list-item role="listitem">Find locations around Cape Town</mat-list-item>
      <mat-list-item role="listitem">A bit of photo manipulation and illustration</mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="Requirements">
      <h3 style="text-align: left;">Requirements</h3>
      <mat-list role="list">
          <mat-list-item role="listitem">Appropriate degree or diploma</mat-list-item>
          <mat-list-item role="listitem">A kickass portfolio</mat-list-item>
          <mat-list-item role="listitem">You can work with macOS, Keynote, and Adobe CC</mat-list-item>
          <mat-list-item role="listitem">A desire to learn</mat-list-item>
          <mat-list-item role="listitem">You care about the quality of your work</mat-list-item>
          <mat-list-item role="listitem">A great attitude when it comes to meeting deadlines</mat-list-item>
      </mat-list>
  </mat-tab>
  <mat-tab label="Contact">Contact</mat-tab>
</mat-tab-group>
