<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
       <img src='../../assets/img/untapped-logo.png' width="130px;">
       <span class="menu-spacer"></span>
    </button>
    <span class="menu-spacer"></span>
    <div>
      <!-- <a mat-button [routerLink]="'/create-account'"> Create Account </a>
      <a mat-button [routerLink]="'/create-contact'"> Create Post </a>
      <a mat-button [routerLink]="'/activities'"> Jobs </a> -->

    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
      <span style="font-size: 12px;">Home of South African Creatives</span>
    </mat-toolbar-row>
</mat-toolbar>
