<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
       <img src='../../assets/img/untapped-logo.png' width="130px;">
       <span class="menu-spacer"></span>
    </button>
    <span class="menu-spacer"></span>
    <span class="example-spacer"></span>
    <mat-chip-list>
        <mat-chip >Sign In</mat-chip>
        <mat-chip class="mat-small">SIGN UP FREE</mat-chip>
      </mat-chip-list>
  </mat-toolbar-row>
  <!-- <mat-toolbar-row>
      <span style="font-size: 12px;">Home of South African Creatives</span>
    </mat-toolbar-row> -->
</mat-toolbar>
